snippet 01
01. 学历不重要？能力更重要？
endsnippet
snippet 02
02. 什么是中国的职业规划？
endsnippet
snippet 03
03. 如何选城市？
endsnippet
snippet 04
04. 如何选行业？
endsnippet
snippet 05
05. 如何选企业？
endsnippet
snippet 06
06. 如何选职务？
endsnippet
snippet 07
07. 求职，就是打败HR的过程
endsnippet
snippet 08
08. 简历制作秘笈
endsnippet
snippet 09
09. 简历投递秘笈
endsnippet
snippet 10
10. 面试技巧
endsnippet
snippet 11
11. 工资行情和 Offer 谈判
endsnippet
snippet 12
12. 辞职秘笈
endsnippet
snippet 13
13. 背景调查
endsnippet
snippet 14
14. 试用期和转正
endsnippet
snippet 15
15. 辞退和裁员
endsnippet
snippet 16
16. 宝妈求职秘笈
endsnippet
snippet 17
17. 如何解决失业危机
endsnippet
snippet 18
18. 职业性格和星座
endsnippet
snippet 19
19. 如何跟领导相处？
endsnippet
snippet 20
20. 女性专场
endsnippet
snippet 21
21. 同事如何相处？
endsnippet
snippet 22
22. 汽车行业专题
endsnippet
snippet 23
23. 采购职位入门
endsnippet
snippet 24
24. 房产私房菜
endsnippet
snippet 25
25. 年代秀&真人秀
endsnippet
snippet 26
26. 副业和财富自由
endsnippet
snippet 27
27. 职场生活技艺
endsnippet
snippet 28
28. 宏观职场
endsnippet
snippet 29
29. 势商和人生规划
endsnippet
snippet 30
30. 职场互动
endsnippet

snippet pl
{% post_link $1 %}
endsnippet
# post audio
snippet pa
{% aplayer "${1:title}" "${2:youge}" "${3:url}" %}
endsnippet

snippet r
🔴
endsnippet
snippet t
#${0:Career|Extrapolation}
${1:${Career}|${Extrapolation}}
endsnippet
snippet trm
The real McCoy
endsnippet
snippet c
<span style="color:$1">$2</span>
endsnippet

